<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @*<script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @*<script src="~/scripts/bootstrapvalidator.min.js"></script>*@ 
    <script src="~/scripts/CustomScripts/FormSubmit.js"></script>
    <script src="~/scripts/jquery-1.12.4.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/cufon-yui.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/cufon-replace.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/Myriad_Pro_400.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/Myriad_Pro_600.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/NewsGoth_BT_400.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/NewsGoth_BT_700.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/NewsGoth_Dm_BT_400.font.js" type="text/javascript" charset="UTF-8"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/Content/Custom CSS/FormCSS.css" rel="stylesheet" />*@
    <link href="~/Content1/Tooltip.css" rel="stylesheet" />
    <link href="/Content1/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body id="page1">
    <!-- START PAGE SOURCE -->
    <div id="main">
        <div id="header">
            <div class="row-1">
                <div class="top-left"><a href="http://localhost:51683"><img src="~/Content1/logo.png" alt="" /></a></div>
                <div class="fright">
                </div>
            </div>
            <div class="row-2">
                <div class="left">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="row-3">
                <div class="inside">
                    <h2>Vienna Insurance <b> Group</b></h2>
                   <!--<a href="http://localhost:51683/Vehicles/Create" target="_blank"><img src="~/Content1/copy.png" height="130" width="250" /></a> -->
                </div>
            </div>
            <div class="extra"><img src="/Content1/images/header-img.png" alt="" /></div>
        </div>
        <!--
        <div id="content">
            <ul class="box-list">
                <li>
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Nashata</b> Misija</h4>
                                                <p>Нашата мисија е да бидеме пример за стандардите на стручност, професионалност и етичност на пазарот.<a href="#"><img src="/Content1/images/arrow.gif" alt="" /></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="alt">
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Nashite</b> Celi</h4>
                                                <p>Долгорочен оддржлив раст и развој, Името на нашата компанија – синоним за сигурност за клиентите. Темел на стабилноста и квалитетот на домашниот сигурителен пазар.<a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="last">
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Nashata</b> Strategija</h4>
                                                <p>Развиена и компетентна продажна мрежа ширум Македонија, со искусен локален менаџмент <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="indent">
            </div>
        </div>-->

            @RenderBody()
            <div id="footer">
                <div class="footerlink">
                    <p class="lf">Copyright &copy; 2019 <a href="#">ASInsurance</a> - All Rights Reserved</p>
                    <p class="rf"><a href="#"></a></p>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    @*<script type="text/javascript" charset="UTF-8"> Cufon.now(); </script>*@

    <script src="/Content1/js/script.js" type="text/javascript" charset="UTF-8"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <!-- END PAGE SOURCE -->
</body>
</html>