
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
        .button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <link href="/Content1/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/Content1/js/jquery-1.4.2.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/cufon-yui.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/cufon-replace.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/Myriad_Pro_400.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/Myriad_Pro_600.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/NewsGoth_BT_400.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/NewsGoth_BT_700.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/NewsGoth_Dm_BT_400.font.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/Content1/js/script.js" type="text/javascript" charset="UTF-8"></script>
    
</head>
<body id="page1">
    <!-- START PAGE SOURCE -->
    <div id="main">
        <div id="header">
            <div class="row-1">
                <div class="fleft"><a href="#"><img src="~/Content1/logo.png" alt="" /></a></div>
                <div class="fright">
                </div>
            </div>
            <div class="row-2">
                <div class="left">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="row-3">
                <div class="inside">
                    <h2>Vienna Insurance<b>Group</b></h2>
                    <a href="http://localhost:51683/Wizard/Create" target="_blank">@*<img src="~/Content1/copy.png" height="130" width="250" />*@</a>
                </div>
            </div>
            <div class="extra"><img src="/Content1/images/header-img.png" alt="" /></div>
        </div>
        <div id="content">
            <ul class="box-list">
                <li>
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Our</b> Mission</h4>
                                                <p>Нашата мисија е да бидеме пример за стандардите на стручност, професионалност и етичност на пазарот.<a href="#"><img src="/Content1/images/arrow.gif" alt="" /></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="alt">
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Our</b> Goals</h4>
                                                <p>Долгорочен оддржлив раст и развој, Името на нашата компанија – синоним за сигурност за клиентите. Темел на стабилноста и квалитетот на домашниот сигурителен пазар.<a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="last">
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Our</b> Strategy</h4>
                                                <p>Развиена и компетентна продажна мрежа ширум Македонија, со искусен локален менаџмент <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="indent">
            </div>
            <button class="button button2" onclick="window.location.href = 'http://localhost:51683/Policies/Index'">Види ги сите купени полиси</button>
              <button style="float: right" class="button button2" onclick="window.location.href = 'http://localhost:51683/Admin'">Админ Панел</button>
            
            
        <br />
            <br />
            <hr />
            <hr />
            <hr />
            <br />
            <center>
                <div class="container">
                    <div class="row" style="display: flex">
                        <div class="col-lg-6">
                            <img class="rounded-circle" src="~/Content1/kindpng_218273.png" alt="Generic placeholder image" width="140" height="140">
                            <h3 style="color: black;"> AO Insurance</h3>
                            <p style="font-size:larger;">Обновете ја полисата за задолжително осигурување од автомобилска одговорност на Вашето возило која е потребна за регистрација на возилото, без оглед на тоа во која компанија била претходната полиса. Обновената полиса, ќе ја добиете на Вашата e-mail адреса во PDF формат. Сè што треба да направите е да ја испечатите и потпишете полисата. При регистрација, МВР ги признава отпечатените верзии на полисите купени онлајн.</p>
                            <a href="http://localhost:51683/Ao/Create" target="_blank"><img src="~/Content1/copy.png" height="130" width="250" /></a>
                        </div><!-- /.col-lg-4 -->
                    <hr />
                    <hr />
                    <hr />
                        <div class="col-lg-6">
                            <img class="rounded-circle" src="~/Content1/noun_auto-300x277.png" alt="Generic placeholder image" width="140" height="140">
                            <h3 style="color: black;">Casco Insurance</h3>
                            <p style="font-size:larger;">Патничко осигурување е една од најважните работи кои треба да ги имате со себе кога патувате надвор од државата. Ова осигурување Ве штити од трошоци во случај на нужна потреба од медицинска помош во странство, а овие трошоци можат да бидат енормни во зависност од земјата во која патувате и услугите кои ќе ги користите. Патничкото осигурување на Винер Ви нуди осигурително покритие од поголем број ризици и до различни осигурени суми, во однос на тоа кој пакет ќе го изберете.</p>
                            <a href="http://localhost:51683/Wizard/Create" target="_blank"><img src="~/Content1/copy.png" height="130" width="250" /></a>
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.col-lg-4 -->
                    </div>
</center>
        
        </div>
        <div id="footer">
            <div class="footerlink">
                <p class="lf">Copyright &copy; 2020 <a href="#">ASInsurance</a> - All Rights Reserved</p>
                <p class="rf"><a href="#"></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="UTF-8"> Cufon.now(); </script>
    <!-- END PAGE SOURCE -->
</body>
</html>